.delete-modal-container {
    background-color:rgba(0,0,0, 0.6);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
}
.delete-modal {
    background-color: #fff;
    height: 40vh;
    padding: 2vmin 3vmin;
    position: relative;
    top: 20%;
    border-radius: 5px;
}